### python data structures
#### lists
- Its one of common data structure supports by python the list items are seperated by comma operator and enclosed in closed brackets.
- Example:
           list1=[1,6,2,18,9]
           list2=["gitam",10,12,15.5,"hyderabad"]

In [2]:
lst=[1,8,16,9,2]
print(lst)
print(lst[0])
print(lst[1])
print(lst[-1])
print(lst[-1])
print(lst[-2])
print(lst[1:])
print(lst[1:4])

[1, 8, 16, 9, 2]
1
8
2
2
9
[8, 16, 9, 2]
[8, 16, 9]

In [3]:
li=["gitam","python",1989]
print(li)
li[2]=2019
print(li)

['gitam', 'python', 1989]
['gitam', 'python', 2019]

In [4]:
# delete the specific item in the list 
print(li)
del li[2]
print(li)

['gitam', 'python', 2019]
['gitam', 'python']

In [7]:
#basic list operations
lst1=[1,9,6,18,2]
print(len(lst1))
print(lst1*2)
print(len(lst1))
print(9 in lst1)
print(15 in lst1)
for x in range(len(lst1)):
    print(lst1[x],end=' ')

5
[1, 9, 6, 18, 2, 1, 9, 6, 18, 2]
5
True
False
1 9 6 18 2

In [11]:
# function of the list 
lst1
print(min(lst1))
print(max(lst1))
print(sum(lst1))
print(sum(lst1)//len(lst1))
print(sum(lst1[1::2])/len(lst1[1::2]))

1
18
36
7
13.5

In [21]:
lst1
lst1.append(24)
lst1
lst1.insert(2,56)
lst1
lst1.count(18)
lst1.index(56)
lst1.sort()
lst1
lst1.pop()
lst1
lst1.pop(1)
lst2=[123,23,45]
lst1.pop(1)
lst2=[123,23,45]
lst1.extend(lst2)
lst1

[1,
 18,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 56,
 56,
 56,
 56,
 56,
 56,
 123,
 23,
 45]

In [25]:
# function to find the second large from the list
#input:[1,19,6,2,8,18,3]
#output:18
def secondlarge(li):
    li.sort()
    return li[-2]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[1,19,6,2,8,18,3]
genericlarge(li,4)

6

In [26]:
#function to find the least element
#input:[1,19,6,2,8,18,3]
#output:2
def secondleast(li):
    return li[1]
def genericleast(li,n):
    li.sort()
    return li[n-1]
li=[1,19,6,2,8,18,3]
genericleast(li,4)

6

### linear search algorithm can be applied on duplicate and unique list
- unique list: The all item of the list is appeared only one time
    -Duplicate list: The item of the list can be appeared more then once
    linear search algorithm can be ap-plied on sorted or unsorted list

In [31]:
#function to search the data in a list
#search is found then return the iondex if not return -1
def linearsearch1(li,taritem):
    for x in range(len(li)):
        if li[x]==taritem:
            return x
    return -1
li=[1,19,6,2,8,18,3]
linearsearch1(li,225)

-1

In [35]:
#function 
#input:[1,5,9,6,5,15,1,2,5],key=5
#output:1 4 8
def linearsearch2(li,taritem):
    for x in range(len(li)):
        if li[x]==taritem:
            print(x,end=" ")
    return
li=[1,5,9,6,5,15,1,2,5]
linearsearch2(li,5)

1 4 8

In [36]:
#function
#input:list
#output:seq of characters
#test case
#[1,5,9,6,5,15,1,2,5],tar=5 --
def linearsearch3(li,taritem):
    for x in range(len(li)):
        if li[x]==taritem:
            for k in range(x):
                print(end="!")
            print(" ")
    return
li=[1,5,9,6,5,15,1,2,5]
linearsearch3(li,5)

!
!!!!
!!!!!!!!

In [39]:
#function
# input:list
#output: formatted
#test case:
#[12,2,45,9,18,15,36]--60
# A list item which is perfectly of 3 and 5
def linearsearch4(li):
    sum=0
    for x in range(len(li)):
        if li[x]%3==0 and li[x]%5==0:
            sum+=li[x]
    return sum
li=[12,2,45,9,18,15,36]
linearsearch4(li)

60

In [42]:
#function
#input:list
#output:formatted output
#test case:
#[1,2,3,4,5]--[1,3,8,15,5]
#[6,5,2,8,2]--[6,12,40,4,2]
def linearsearch5(li):
    for x in range(len(li)):
        if x==0 or x==len(li)-1:
            print(li[x],end=" ")
        else:
            print(li[x-1]*li[x+1],end=" ")
    return
linearsearch5(li)

12 540 18 810 135 648 36

In [44]:
#function
#input:list
#output:formatted output
#test cases:
#[1,6,9,4,16,19,22]--1 9 19 22
def linearsearch6(li):
    for x in range(len(li)):
        if x==0 or x==len(li)-1:
            print(li[x],end=" ")
        elif li[x-1]%2==0 and li[x+1]%2==0:
            print(li[x],end=" ")
    return
li=[1,6,9,4,16,19,22]
linearsearch6(li)

1 9 19 22

### number to list
- input as number
- expected output will be list

In [47]:
#function for conversation - number to list
#input--number
#output-- list
#test cases:-
#14569 -- [1,4,5,6,9]
#1990 --[1,9,9,0]
def numberlistconversion(n):
    li=[]
    while n!=0:
        r=n%10
        li.append(r)
        n=n//10
    li.reverse()
    return li
numberlistconversion(14569)

[1, 4, 5, 6, 9]

In [52]:
#function to count the oocurances of a characteristic in a string
# "python programming", p->2
# "python programming",m->2
def countcharoccurances(s,c):
    cnt=0
    for ch in s:
        if ch==c:
            cnt+=1
    return cnt
def countcgaroccurances1(s,c):
    return s.count(c)
countcharoccurances("python programming",'m')

2

### string to list conversion
- input will be string
- expected output will be list

In [54]:
#function to convert the string to list 
#test case
# "1 2 3 4 5 6" --[1,2,3,4,5,6]
def stringtolistconversion(s):
    li=s.split()
    numberslist=[]
    for i in li:
        numberslist.append(int(i))
    return numberslist
s="1 2 3 4 5 6"
stringtolistconversion(s)

[1, 2, 3, 4, 5, 6]

### sorting algorithms:
- all the sorting algorthms makes the list into ascending order
- bubble sort
- selection sort
- insertion sort

### bubble sort
- this algorithm compares the adj elements.if the first element is greater
- than second element than its required toswap the elements

In [55]:
# function to represent the bubble sort
def bubblesort(li):
    for i in range(len(li)-1):
        for j in range(len(li)-1):
            if li[j]> li[j+1]:
                li[j],li[j+1]=li[j+1],li[j]
    return li
li=[19,1,25,6,18,3]
bubblesort(li)

[1, 3, 6, 18, 19, 25]