### Data Structures
- dictionaries

### dictionaries
- it works on the concept of set unique data
- keys,values is the unique identifier for a value
- each key is seperated by a value by a colon(:)
- each key and value is seperated by a comma(,)
- dictionaries are enclosed in curly braces{}

In [2]:
d1={"name":"gitam","email id":"gitam@gmail.com","address":"hyderabad"}
print(d1)

{'name': 'gitam', 'email id': 'gitam@gmail.com', 'address': 'hyderabad'}

In [3]:
d1["name"]

'gitam'

In [4]:
d1["email id"]

'gitam@gmail.com'

In [5]:
d1['email id']='gitam-python@gmail.com'

In [6]:
d1['email id']

'gitam-python@gmail.com'

In [9]:
del d1["email id"]

KeyError: 'email id'

In [10]:
print(d1)

{'name': 'gitam', 'address': 'hyderabad'}

In [11]:
d1.keys()

dict_keys(['name', 'address'])

In [12]:
d1.values()

dict_values(['gitam', 'hyderabad'])

In [13]:
d1.items()

dict_items([('name', 'gitam'), ('address', 'hyderabad')])

### tuples
- t1 parenthesis() li square brackets[]
- difference between list and tuples
    - list are mutable - can be changed/modified
        - used to access modify,add,delete data
    - tuples are immutable - cannot be changed
        - used to access data only

In [14]:
t1=(1,2,3,4,5,6)
t1
type(t1)

tuple

### contact application
- add contact 
- search the contact 
- list all contacts
    - name1:phone1
    - name2:phone2
- modify the contact
- remove the contact
- import the contact

In [20]:
# add contact
contacts={}
def addcontact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("contact is details are added")
    else:
        print("contact details are already exists")
    return
addcontact('nani','8454536221')
addcontact('deeksha','786544587')
addcontact('nani','8454536221')

contact is details are added
contact is details are added
contact details are already exists

In [21]:
# search for contact details
def searchcontact(name):
    if name in contacts:
        print(name,":",contacts[name])
    else:
        print("%s does not exists"%name)
    return
searchcontact('nani')
searchcontact('deeksha')
searchcontact('vamshi')

nani : 8454536221
deeksha : 786544587
vamshi does not exists

In [24]:
# import some contacts
# merge the contact with existing one
def importcontact(newcontact):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),"contact added successfully")
    return
newcontacts={'pooja':9967898654,'pummy':9898987654}
importcontact(newcontacts)

2 contact added successfully

In [25]:
contacts

{'nani': 9967898654,
 'deeksha': '786544587',
 'vamshi': 9898987654,
 'pooja': 9967898654,
 'pummy': 9898987654}

In [26]:
# delete a contact
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print(name,"deleted successfully")
    else:
        print(name,"not exists")
    return
deletecontact('vamshi')

vamshi deleted successfully

In [28]:
contacts

{'nani': 9967898654,
 'deeksha': '786544587',
 'pooja': 9967898654,
 'pummy': 9898987654}

In [30]:
# update the contact details
def deletecontact(name,phone):
    if name in contacts:
        contacts[name]=phone
        print(name,"updated successfully")
    else:
        print(name,"not exits")
    return
deletecontact('nani',9989898767)
deletecontact('vamshi',9989898989)

nani updated successfully
vamshi not exits

In [35]:
 # Program to print Fibonacci 
# series in reverse order 
  
def reverseFibonacci(n): 
    a = [0] * n  
    a[0] = 0 
    a[1] = 1 
    for i in range(2, n):
        a[i] = a[i - 2] + a[i - 1]  
    for i in range(n - 1, -1 , -1):   
        print(a[i],end=" ")
        n = 5 
reverseFibonacci(5)

3 2 1 1 0

In [38]:
#11
def twopow(n):
    for i in range(n):
       k=2**i
       print(k)
    return
twopow(10)

1
2
4
8
16
32
64
128
256
512

In [39]:
#cubes
def cube(n):
    i=1
    for i in range(n+1):
        print(pow(3,i) ,end=" ")
    return
cube(5)

1 3 9 27 81 243

In [48]:
#individual digits factorial sum
def sum(n):
    for i in range(1,n+1):
        fact=1
        if i<=n:
            print(i,end="!+")
    return 
sum(8)

1!+2!+3!+4!+5!+6!+7!+8!+

In [80]:
def ser(n):
    a=[0]*n
    a[0]=1
    a[1]=3
    a[2]=4
    for i in range(3,n):
        a[i]=a[i-3]+a[i-2]+a[i-1]
    for x in range(0,n):     
        print(a[x],end=" ")
    return 
ser(10)

1 3 4 8 15 27 50 92 169 311

In [1]:
# function to print the series 1,9,17,33,49,......
def num(n):
   a=8
   b=1
   c=n//2
   print(1)
   for i in range(1,c+1):
       for i in range(1,3):
           b=b+a
           print(b)
       a=a+8
   return
num(10)

1
9
17
33
49
73
97
129
161
201
241

In [2]:
# function for the following series
def series(n):
   m=2
   for i in range(n):
       r=13*i+m
       print(r,end=" ")
       m=r
   return
series(10)

2 15 41 80 132 197 275 366 470 587

In [84]:
s1=("abcd")
s2=("defg")
for i in  range(len(s1)):
  print(s1[i],s2[i])

a d
b e
c f
d g

In [ ]:
def Q2(n):
    a=[]
    s=0
    for i in range(n):
        a.append(int(input()))
    for i in range(n):
        c=0
        for j in range(n):
            if i!=j:
                if a[i]==a[j]:
                    c+=1
        if c==0:
            s=s+a[i]
    return s
Q2(int(input("no of values")))

In [51]:
#classical version
li=["python","programming"]
print("%s%s" %(li[0],li[1]))

pythonprogramming

In [52]:
print("{0} {1}".format(li[0],li[1]))

python programming

In [53]:
li1=[1,2,3,4]
print("%d%d%d%d"%(li1[0],li1[1],li1[2],li1[3]))

1234

In [54]:
print("{0} {1} {2} {3}".format(li1[0],li1[1],li1[2],li1[3]))

1 2 3 4

### string functions
- upper()--will converts the given string into upper case
- lower()--will converts the given string into lower case

In [55]:
s1='gitam'
print(s1.upper())

GITAM

In [56]:
s1='gitam'
print(s1.lower())

gitam

### boolean function
- islower()-- true if the string is lower case/ false if the string not in lower case
- isupper()--true if the string in upper case/false if the string not in upper case
- istitle()--true if the string follows title case/ false
- isalpha()--true if the string contains only alphabets 
- isnumeric()--true if the string contains only numbers/false
- isspace()-- true if the string contains space

In [59]:
s1='GITAM'
print(s1.isupper())
print(s1.islower())

True
False

In [63]:
s2="Python Programming"
s3="python programming"
print(s2.istitle())
print(s3.istitle())

True
False

In [68]:
s2="Application1889"
s3='PythonProgramming'
print(s2.isalpha())
print(s3.isalpha())

False
True

In [70]:
s1="1234"
s2="Application1234"
print(s1.isnumeric())
print(s2.isnumeric())

True
False

In [71]:
s1=" "
s2="py th on"
print(s1.isspace())
print(s2.isspace())

True
False

### string methods
- 1.join()--method will concatinates the two strings
- 2.split()-- split() returns a list of strings 
- 3.replace()-- replaces specific word or character with new word or character

In [72]:
s2="python programming easy to learn"
print(",".join(s2))

p,y,t,h,o,n, ,p,r,o,g,r,a,m,m,i,n,g, ,e,a,s,y, ,t,o, ,l,e,a,r,n

In [73]:
li=['pthon','programming','learn']
print(",".join(li))

pthon,programming,learn

In [74]:
s2="python programming easy to learn"
print(s2.split())

['python', 'programming', 'easy', 'to', 'learn']

In [75]:
s2="python programming easy to learn"
print(s2.split('a'))

['python progr', 'mming e', 'sy to le', 'rn']

In [76]:
s2="python programming easy to learn"
li=s2.split()
print(li)
print(len(li))

['python', 'programming', 'easy', 'to', 'learn']
5

In [77]:
s2="python programming easy to learn"
li=list(s2)
print(li)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [78]:
s2="python programming easy to learn"
print(s2.replace("gra","application"))

python proapplicationmming easy to learn

In [82]:
i=0
while i<3:
    print(i)
    i+=1
else:
    print(0)

0
1
2
0

In [83]:
items=[5,7,10,12,15]
print("list of items is",items)

list of items is [5, 7, 10, 12, 15]

### packages and modukes
**packages:**
    - a collection of modules(single python file.py) and subpackages
**module:**
    - a single python file containg set functions
packages-->sub packages-->modules-->functions-->statements

In [85]:
#import the externals packages to python file
import math 
math.floor(123.45)

123

In [86]:
from math import factorial as fact
fact(5)

120

In [88]:
from math import gcd as gcd
gcd(10,15)

5

In [93]:
# function to generate n random numbers in given range
import random
def randomNNumbers(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
    return
randomNNumbers(10,0,100)

22 77 90 51 29 38 79 87 67 37

In [100]:
# create a simple game
# generate 20 random numbers 0 to 500
#input:number
#output:congrats!!
#       try once again!!!
import random
def generatenumbers(n,lb,ub):
    li=[]
    for i in range(0,n):
        li.append(random.randit(lb,ub))
    return li
def check(n):
    if n in li:
        return"congrats!!!"
    else:
        return "try once again!!!"
    return
check(15)

'try once again!!!'